/* Testes */

header {
    background-color: red;
}

section:nth-child(1) {
    background-color: aqua;
}

section:nth-child(2) {
    background-color: violet;
}


/* Aprovado */

main {
    flex-grow: 1;
}

form {
    width: 500px;
}

h3 {
    margin-top: 6px;
    margin-bottom: 2px;
}

input {
    border: 1px solid royalblue;
    border-radius: 4px;
    padding: 6px 10px;
    box-shadow: 2px 2px 2px #dadada;
    transition: .5s;
}

input:focus {
    transform: scale(1.15);
    box-shadow: 4px 4px 4px grey;
}

button {
    margin-top: 6px;
    outline: none;
}