body {
    header {
        flex-grow: 1;
        background: red;
    }
    main {
        flex-grow: 10;
        display: flex;
        justify-content: space-around;
        width: 100%;
        background: green;
        section {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            form {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                border: 2px solid red;
                border-radius: 6px;
                input,
                button {
                    width: 80%;
                    padding: 4px 10px;
                    border: 2px solid orange;
                    border-radius: 8px;
                    font-size: 20px;
                    font-weight: 700;
                    cursor: pointer;
                }
                button {
                    &:hover {
                        background: lightgrey;
                        &:active {
                            background: seashell;
                        }
                    }
                }
                div.ConjuntoBtns {
                    width: 80%;
                    display: flex;
                }
                div.Campo {
                    background-color: lightblue;
                    width: 80%;
                    // box-sizing: border-box;
                    div {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        input {
                            width: 100%;
                            &:nth-child(2) {
                                margin-left: 6px;
                            }
                        }
                    }
                }
            }
            &#LogIn {
                background-color: royalblue;
            }
            &#Registro {
                background-color: lightcoral;
            }
        }
    }
}