body header {
  flex-grow: 2;
  background: red;
}

body main {
  flex-grow: 10;
  width: 100%;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
}

body main div.Container {
  background-color: rosybrown;
  width: 33%;
}

body main div.Container div.Contas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 4px;
  background: green;
}

body main div.Container div.Contas article {
  border: 1px solid black;
  border-radius: 6px;
}

body main div.Container div.Atividade ul li {
  background-color: white;
}

body main div.Container div.Atividade ul li:nth-child(even) {
  background-color: gray;
}
