body {
    header {
        flex-grow: 2;
        background: red;
    }
    main {
        flex-grow: 10;
        width: 100%;
        background-color: rebeccapurple;
        display: flex;
        justify-content: center;
        div.Container {
            background-color: rosybrown;
            width: 33%;
            div.Contas {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, auto);
                grid-gap: 4px;
                background: green;
                article {
                    border: 1px solid black;
                    border-radius: 6px;
                }
            }
            div.Atividade {
                ul {
                    li {
                        background-color: white;
                        &:nth-child(even) {
                            background-color: gray;
                        }
                    }
                }
            }
        }
    }
}